doctype html
html(lang="es")
head
	meta(charset="UTF-8")
	meta(name="viewport", content="width=device-width,initial-scale=1")
	title= title
	each css in files.CSS
		link(rel="stylesheet", href=`../${css}`)
body
	h1= title
	
	a(href="https://pepobj.github.io", target="_blank") PepoBJ - Mi Portafolio
	
	p actualizando automaticamente, con npm-run-all

	each js in files.JS
		script(src=`../${js}`)